Signal
Nextcloud
keepassxc
weechat
kdeconnect
git
gh
kwalletmanagerrc
kwalletrc
kdewallet
kdeconnect
spotatui
sqlitebrowser
supertuxkart
shapez-ce
qutebrowser
sweep
wal
libreoffice
kbackuprc
godot
cava
go
trashrc
vlc
lazygit
kdeglobals
htop
antimicrox
JetBrains
FreeCAD
GIMP
dconf
gtk-3.0/bookmarks
VSCodium
jgit
tigervnc
obsidian
Google
ModrinthApp
himalaya
libresprite
menus
QDirStat
QtProject
QtProject.conf
pavucontrol.ini
pulse
rc
autostart
session
Epic
Trolltech.conf
Unreal Engine
baloofilerc
eog
evolution
gnome-boxes
gnome-contacts
goa-1.0
ibus
libvirt
mimeapps.list
powermanagementprofilesrc
totem
user-dirs.dirs
user-dirs.locale
