//
//Based on default configuration from niri (GPLv3)
//

input {
    mod-key "Alt"
    keyboard {
        xkb {
	    layout "us, de"
        }
    }

    mouse {
	left-handed
    }

    touchpad {
        tap
        natural-scroll
	left-handed
	scroll-method "two-finger"
        disabled-on-external-mouse
    }

    trackpoint {
        accel-profile "flat"
	left-handed
    }

    focus-follows-mouse max-scroll-amount="0%"
}


layout {
    gaps 8
    empty-workspace-above-first
    background-color "transparent"
    center-focused-column "never"

    focus-ring {
	    off
    }
	
    border {
        off
    }

    shadow {
	on

    }
}

// Disable window titlebars
prefer-no-csd


//
// Autostart
//

// Background
spawn-at-startup "swaybg" "-i" "/home/lars/Nextcloud/Pictures/Wallpapers/wallpaper"

// Bar
spawn-at-startup "waybar"

// Passwords
spawn-at-startup "kwalletd6"

// Cloud
spawn-at-startup "nextcloud" "--background"

// Notifications
spawn-at-startup "swaync"

spawn-at-startup "gentoo-pipewire-launcher" "restart"


// Disable the hotkey info popup
hotkey-overlay {
    skip-at-startup
}


screenshot-path "~/Nextcloud/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"


// Open eclipse start screens floating
window-rule {
	match title="Eclipse IDE Launcher"
	open-floating true
}

window-rule {
	match title="Eclipse IDE"
	open-floating true
}

window-rule {
	match title="Eclipse"
	open-floating true 
}

window-rule {
	match title="eclipse-workspace.*"
	open-floating false
	open-maximized true
}

window-rule {
	match app-id="firefox"
	open-maximized true
}

// Open nextcloud floating
window-rule {
	match title="Nextcloud"
	open-floating true
}


// Add rounded corners
window-rule {
    	draw-border-with-background false

	// Add blur
	background-effect {
		blur true 
		xray false
	}
}

// Add blur and rounded corners to the menu
layer-rule {
	match namespace="^wofi$"
	background-effect {
		xray false
		blur true
	}
}

// Make the wallpaper visible in the overview
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}


//
// Keybinds
//
binds {
    Mod+Return hotkey-overlay-title="Open Alacritty" { spawn "alacritty"; }

    Mod+D hotkey-overlay-title="Open the application menu (wofi)" { spawn "wofi" "--show" "drun"; }

    Mod+Shift+N hotkey-overlay-title="Toggle notifications" { spawn "swaync-client" "-t"; }

    Super+L hotkey-overlay-title="Lock the Screen" { spawn-sh "hyprlock"; }

    Mod+B hotkey-overlay-title="Open Firefox" { spawn "firefox-bin"; }

    Win+D hotkey-overlay-title="Toggle Dashboard" { spawn "eww" "open" "--toggle" "dashboard"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Toggle the overview
    Mod+O repeat=false { toggle-overview; }

    Mod+Shift+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // Reordering workspaces
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Combining multiple windows into one column
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Fullscreen/maximizing
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Centering columns
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // Change column/window size
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Toggle floating
    Mod+Shift+Space { toggle-window-floating; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    Super+Space { spawn-sh "niri msg action switch-layout next"; }
}
// Stop niri from opening the overview when movin the mouse near a screen corner
gestures {
	hot-corners {
		off
	}
}
