* {
    font-family: Liberation-Mono;
    font-size: 11pt;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #d3d6aa;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
	box-shadow: none;
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}


#workspaces button {
    padding: 0 0px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: #232a2e;
}

#workspaces button.focused {
    background-color: #4f585e;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#tray
{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#window,
#workspaces {
	background-color: #3d484d;
	padding-left: 25px;
	padding-right: 25px;
}

#workspaces {
	margin-right: 10px;

}

/* Hide window title when empty */
#waybar.empty #window {
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
}

#clock {
	margin-left: 10px;
	background-color: #3d484d;
}

#tray {
	background-color: #3d484d;
	margin-right: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

