* {
	color: #d3c6aa;
}


#window {
	background-color: #3d484de6;
}

#outer-box {
	background-color: #3d484de6;
	border: 2px solid #4f585e;
	border-radius: 0;
	padding-bottom: 0.5%;
}

#input {
	background-color: #3d484d;
	border-radius: 0;
}

#input:focus, #input:focus-visible, #input-active {
	border-color: #a7c080;
	border-radius: 0;
}

#entry:focus {
	background-color: #425047;
	border-radius: 0;
}

#entry:selected {
	background-color: #425047;
	border-radius: 0;
}

